<div class="jumbotron">
<div class="welcome">
	<h1>Welcome</h1>

	<div class="row">
		<div class="col-md-6">
			<a href="/posts/new" class="welcome-link"><h3>Write a story</h3></a>
		</div>

		<div class="col-md-6">
			<a href="/posts" class="welcome-link"><h3>Read a story</h3></a>
		</div>
	</div>
</div>
</div>