// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-post {
	text-align: left;
}

#post_pic {
	height: 30px;
	width: 30px;
}

#new-post{
	text-align: left;
}

#action {
	list-style: none;
	margin-top: 10px;
}

li {
	margin: 5px;
	margin-left: -25px;
}

.jumbotron {
	margin-top: -60px;
	border-width: 0px;
}

.first-row {
	background-color: #000;
	color: #fff;
	padding-top: 25px;
	margin-bottom: 5px;
}
.table-content {
	border-bottom-style: solid;
	border-bottom-size: 0.5px;
	border-bottom-color: #fff;
}

.panel {
	margin-top: 50px;
}

.blog {
	text-align: left;
}

#comment-history{
	text-align: left;
}

#comments {
	border-top-style: double;
	border-top-width: 3px;
	border-top-color: #000;
	text-align: left;
	margin-top: 20px;
}

#each-comment {
	padding: 10px;
	border-style: dashed;
	border-width: 0.3px;
	border-color: #000;
}

.form-title {
	width: 50%;
}

.form-author {
	width: 20%;
}

.form-entry {
	width: 100%;
	height: 60%;
	border: none;

}

