// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
	padding-top: 30px;
	padding-bottom: 50px;
}

.welcome-link {
	color: #000;
}